* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #f0f0f0;
    justify-content: center;
    align-items: center;
    display: flex;
    height: 100vh;
    padding: 30px;
}

.container {
    max-width: 700px;
    width: 100%;
    background-color: #ffff;
    padding: 25px 30px;
    border-radius: 10px;
}

.container h1 {
    font-size: 25px;
    font-weight: 500;
    position: relative;
}

.container h1::before {
    content: '';
    position: absolute;
    height: 3px;
    width: 30px;
    background: #9b59b6;
}

.row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.userInf {
    flex: 1;
    margin-right: 15px;
}

.userInf:last-child {
    margin-right: 0; /* Remove right margin for the last input */
}

.details {
    margin-bottom: 5px; /* Space between label and input */
}

input {
    width: 100%; /* Full width inputs */
    padding: 10px; /* Padding for inputs */
    border: 1px solid #ccc; /* Border styling */
    border-radius: 5px; /* Rounded corners */
}
